@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'libs/fixed-grid';
@import 'font-awesome.min.css';
@import 'merriweather.css';

/*
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Variables
$backgroundPath: "{{ .Site.Params.backgroundPath | default "images/bg.jpg" }}";

// Breakpoints.

@include breakpoints((default: (1681px, null),
		xlarge: (1281px, 1680px),
		large: (981px, 1280px),
		medium: (737px, 980px),
		small: (481px, 736px),
		xsmall: (361px, 480px),
		xxsmall: (null, 360px)));

// Mixins.

@mixin color($p) {
	@include color-typography($p);
	@include color-box($p);
	@include color-button($p);
	@include color-form($p);
	@include color-list($p);
	@include color-section($p);
	@include color-table($p);
	@include color-pagination($p);
}

// Base.

@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/row';
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/actions';
@import 'components/icons';
@import 'components/list';
@import 'components/section';
@import 'components/table';
@import 'components/pagination';

// Layout.

@import 'layout/wrapper';
@import 'layout/intro';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/navPanel';


// Hugo Theme specific

@import 'hugotheme/main.scss';
