@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url(/assets/fonts/merriweather-italic-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/merriweather-italic-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/merriweather-normal-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/merriweather-normal-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/source-sans-pro-normal-900.ttf) format('truetype');
}
